.ProjectItem{
    border-radius: 10px;
    border: 1px solid #1c62a47e;
    padding: 3em;
    margin-bottom: 1em;
}
.ProjectItem > h4{
    margin: 0;
}
.TitleProject--deleted{
    text-decoration: line-through;
}
.TitleName--deleted{
    text-decoration: line-through;
}